[Unit]
Description=Weekly Backup Retention Pruning

[Timer]
OnCalendar=Sun *-*-* 04:00:00
Persistent=true
RandomizedDelaySec=20m

[Install]
WantedBy=timers.target
